@tailwind base;
@tailwind components;
@tailwind utilities;

.fadeComponent {
  animation: fade 2s linear alternate forwards;
  -webkit-animation: fade 2s linear alternate forwards;
}

@keyframes fade {
  0%,
  60% {
    filter: blur(1rem);
    -webkit-filter: blur(1rem);
  }
  80% {
    filter: blur(0.8rem);
    -webkit-filter: blur(0.8rem);
  }

  100% {
    filter: blur(0);
    -webkit-filter: blur(0);
  }
}

.loader {
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
